# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
**/node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output control
dist/
**/dist/
frontend/dist-ssr/
*.local

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*

# Python
**/__pycache__/
**/venv/
venv/
.venv/
env/
.env/
bin/
include/
lib/
lib64/
*.pyc
*.pyo
*.pyd
.Python
python-docs/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.tox/
.nox/
.coverage
htmlcov/
.hypothesis/
nosetests.xml
coverage.xml
*.cover
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
